S3_BUCKET=my-bucket
S3_BASE_PREFIX=climate/CMIP6/ScenarioMIP/
CLIMATE_VARIABLE=burntFractionAll
SSP=245
XARRAY_ENGINE=h5netcdf
CRS=4326
X_DIM=lon
Y_DIM=lat
TIME_DIM=time
TIME_AGGREGATION_METHOD=decade_month
CONVERT_360_LON=TRUE
STATE_BBOX=washington
PG_DBNAME=pgosm_flex_washington
PG_USER=osm_ro_user
PG_HOST=host.docker.internal
PG_PASSWORD=mysecretpassword
OSM_CATEGORY=infrastructure
OSM_TYPE=power