S3_BUCKET=my-bucket
S3_BASE_PREFIX=climate/CMIP6/ScenarioMIP/
CLIMATE_VARIABLE=burntFractionAll
SSP=245
XARRAY_ENGINE=h5netcdf
CRS=4326
X_DIM=lon
Y_DIM=lat
TIME_DIM=time
CLIMATOLOGY_MEAN_METHOD=decade_month
ZONAL_AGG_METHOD=max
CONVERT_360_LON=TRUE
STATE_BBOX=washington
PG_DBNAME=pgosm_flex_washington
PG_READ_USER=osm_ro_user
PG_CLIMATE_USER=climate_user
PG_HOST=host.docker.internal
PG_READ_USER_PASSWORD=mysecretpassword
PG_CLIMATE_USER_PASSWORD=mysecretpassword
OSM_CATEGORY=infrastructure
OSM_TYPE=power