PGUSER=user
PGPASSWORD=mypassword
PGHOST=localhost
PGPORT=5432

S3_BUCKET=uw-crl

PGOSM_USER=pgosm_flex
PGOSM_PASSWORD=mysecretpassword
PGOSM_HOST=host.docker.internal
PGOSM_RAM=8
PGOSM_REGION=north-america/us
PGOSM_SUBREGION=washington
PGOSM_LAYERSET=categories
PGOSM_LANGUAGE=en
PGOSM_SRID=4326


PGCLIMATE_USER=climate_user
PGCLIMATE_PASSWORD=mysecretpassword
PGCLIMATE_HOST=host.docker.internal