TITILER_BASE_ENDPOINT=http://localhost:8000
FILE_URL=http://raster-tiler-server:8080/OutputCOG.tif
PG_DBNAME=pgosm_flex_washington
PG_USER=osm_ro_user
PG_HOST=localhost
PG_PASSWORD=mysecretpassword
PG_MAX_CONN=15