TITILER_BASE_ENDPOINT=https://aws-api-gateway-url
FILE_URL=s3://uw-climaterisklab/scratch/OutputCOG.tif
PG_DBNAME=pgosm_flex_washington
PG_USER=osm_ro_user
PG_HOST=host.docker.internal
PG_PASSWORD=mysecretpassword
PG_MAX_CONN=15
GUNICORN_WORKERS=5