/* assets/custom_sliders.css */

.custom-slider .rc-slider-track {
    background-color: #C79900; /* Track color for custom slider */
}

.custom-slider .rc-slider-handle {
    border-color: #ffffff; /* Handle border color for custom slider */
    background-color: #ffffff; /* Handle color for deccustomade slider */
}

.custom-slider .rc-slider-dot {
    border-color: #C79900; /* Dot border color for custom slider */
    background-color: #39275B; /* Dot color for custom slider */
}

.custom-slider .rc-slider-mark-text {
    color: #ffffff; /* Mark text color for custom slider */
}