/* assets/styles.css */
.csv {
    background-image: url('csv.svg');
    width: 24px;  /* Adjust the size as needed */
    height: 24px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

.powerplant {
    background-image: url('power-plant.svg');
    width: 24px;  /* Adjust the size as needed */
    height: 24px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}